.admin__dashboard {
  display: flex;
  margin-top: 50px;
}

.admin__dashboard-left {
  flex: 0 0 20%;
  border-right: 1px solid black;

}

.admin__dashboard-right {
  width: 65%;
  font-family: "Archivo Narrow", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
}

.admin__dashboard-left-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.admin__dashboard-right-films{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.admin__dashboard-left-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 60%
  );
  text-decoration: none;
  background-size: 260%;
  transition: all 0.4s;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
}
.admin__dashboard-left-link:hover,
.admin__dashboard-left-link:active {
  text-decoration: none;
  color: var(--color-Primary) !important;
  background-position: 100%;
  transform: translateY(-2px);
}
.btn:focus {
  box-shadow: none;
}

.main__dashboard-right{
  display:flex;
  flex-direction: row;
}

